<div class="room-list">
  <% rooms.each do |r| %>
    <%= link_to room_path(r) do %>
      <div class="room <%= "room--active" if r.id == room.id %>">
        <span class="room-name"><%= r.name %><span>
      </div>
    <% end %>
  <% end %>
</div>

<div class="entries list-group">
  <% messages.each do |message| %>
      <%= render partial: 'message', locals: { message: message } %>
  <% end %>

  <div class="new-entry-form">
    <form class="input-group">
      <div class="input-group-addon">
        <input type="text" placeholder="Your name" name="author">
      </div>
      <input type="text" class="form-control" placeholder="Message..." name="content"/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-secondary">Send</button>
      </span>
      <input type="hidden" name="room_id" value="<%= room.id %>">
    </form>
  </div>
</div>
