<!DOCTYPE html>
<html>
  <head>
    <title>Chatguru</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav nav-pills navbar-nav navbar-right">
      <% if current_user %>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">
            <%= current_user.name %><span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
        </li>
      <% else %>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">
            Login<span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li><%= link_to('Sign in', new_user_session_path)  %></li>
              <li><%= link_to('Sign up', new_user_registration_path)  %></li>
            </ul>
        </li>
      <% end %>
    </ul>

    <div class="wrapper">
      <div class="panel panel-default">
        <div class="panel-heading">
          Chatguru - React & Redux & ActionCable Example App
        </div>
        <div class="panel-body">
          <%= yield %>
        </div>

        <div class="panel-footer">
          Made with love by Netguru
        </div>
      </div>
    </div>
  </body>
</html>
